<%- include('nav_partial') %> 
<link rel="stylesheet" href="csshome.css">

<div class="head">
   <h3> Recent uploaded</h3>
</div>
  <div class="mainbox">  
   <form action="/home" method="GET">
      <% if (data != null){ %>          
         <% for (var i = 0; i < data.length; i++) {%> 
         <div class="player-box">
            <img  class="img-box" src="cover.jpg" alt="cover">
            <div class="data-item">
               <span id="data1">Name-<%= data[i]["MusicName"] %></span>
               <span id="data2">Creater-<%= data[i]["CreaterName"] %></span>
               <span id="data3">Uploaded On-<%= data[i]["UploadDate"] %></span>
            </div>
                   <div class="audio-ctrl">
                     <audio id="my-audio" controls>
                        <source src="<%= data[i]["FileLocation"] %>"></source>
                     </audio>
                   </div>
         </div>
          <%}%>
     
          <% } else { %>
            <h2 id="mh">NCS Not Available!</h2> 
         <% } %>
   </form>
   </div>


